[Desktop Entry]
Version=1.0
Name=Guide Robot
Comment=Startup Mikuni guide robot application
Exec=bash -c "source /opt/ros/jazzy/setup.bash && source ~/ros2_ws/install/setup.bash && ros2 launch robot_gui robot_gui.launch.py"
Icon=/home/mikuni/ros2_ws/src/amr_ros/resource/robot.png
Terminal=false
Type=Application
StartupWMClass=GuideRobot
Categories=Utility;Application;

